

<!--
  <img #source  class="bus"> -->

<div class="bgg">aaa</div>

<div class="bus">
  <div class="flex">


   <div class="box">    <div class="text">Gallery 1 畫廊-1</div> <img src="/41.png" alt="">  </div>
   <div class="box">     <div class="text">惑星</div><img src="/46.png" alt="">  </div>
     <div class="box">   <div class="text">Rebel Galaxy</div>       <img src="/43.png" alt=""> </div>
<!-- <div class="box">   <div class="text">:D</div> <img src="/44.png" alt="">  </div> -->

   <div class="box">    <div class="text">Star Battleship</div> <img src="/45.png" alt="">  </div>
   <!-- <div class="box">     <div class="text">Gallery 6</div><img src="/46.png" alt="">  </div> -->
     <div class="box">   <div class="text">神秘世界</div>       <img src="/47.png" alt=""> </div>
<div class="box">   <div class="text">星 - 戰</div> <img src="/48.png" alt="">  </div>

<div class="box">    <div class="text">Gradius</div> <img src="/49.png" alt="">  </div>

  <!-- <div class="box">    <div class="text">星雲#1</div> <img src="/50.png" alt="">  </div>
    <div class="box">    <div class="text">星雲#2 Nebula</div> <img src="/51.png" alt="">  </div> -->
      <div class="box">    <div class="text">Gallery-3 畫廊-3 </div> <img src="/52.png" alt="">  </div>
        <div class="box">    <div class="text">Lunatic</div> <img src="/53.png" alt="">  </div>
          <!-- <div class="box">    <div class="text">Art</div> <img src="/54.png" alt="">  </div> -->





  </div>

</div>
