

.ad{
  position: fixed;
  inset: 0;        /* top:0; right:0; bottom:0; left:0 */
  z-index: 9999;   /* 蓋在最上層 */
  background: black;
  text-align:center;
   width: 100vw; /* 撐滿容器 */
     height: 100vh;
}
.ad video{
  // width: 100%; /* 撐滿容器 */

width: 100vw; /* 螢幕寬度的 75% */
 height: 100vh;
// object-fit: fill ;
  // object-fit: cover; //object-fit: cover 的影響
  object-fit: fill;
// transform: scaleX(1.4); /* 水平方向放大 1.3 倍 */
// cover → 影片會填滿容器


// 影片可能會被裁切（超出容器部分）

// 寬度或高度會自動縮放，以保證 整個容器被覆蓋
}


.hidden { display: none; }



.bgg { width: 100vw; height: 100vh;  position: relative;
  overflow:hidden;
  background-image: url("/page4-3.png");
  background-size: cover;
animation: scroll 15s linear infinite;

}


.pic {
  position: absolute; top: 45%; left: 45%;
  transform: translate(-65%, -65%); transition: transform 0.1s ease-out;
  width: 80%; height: 80%;

}

.text{
min-width:200px;
min-height:100px;
color:rgb(20, 156, 72);
font-size: 48px; font-style: bold;
position:absolute;
left:34%;
top:15%;
z-index:99;
text-align: center;
}

.text2{
min-width:200px;
min-height:100px;
color:rgb(20, 156, 72);
font-size: 48px; font-style: bold;
position:absolute;
left:68%;
top:80%;
z-index:99;
text-align: center;
}

// .mid{


//   animation: effect 0.9s ease-in-out infinite alternate; }

//   @keyframes effect {

//     from
//     { transform: translate(-50%, -50%) translateY(-8px); } to
//     { transform: translate(-50%, -50%) translateY(8px); }
//   }


@keyframes scroll{
  // from { transform: scale(1); } to { transform: scale(1.3); }

  from { background-position: 0 0; } to { background-position:0 2000px ; } /* 往上移動 */
}

//  @keyframes zoom {

// from { transform: translate(-50%, -50%) scale(1); } to { transform: translate(-50%, -50%) scale(1.5); }
// }
