<p>rocket works!</p>
<!-- <div class="flex">

<div class="box" (click)="anime()" >
  <img src="/a.png">
</div>

<div class="box" (click)="anime()" >
  <img src="/b.png">
</div>

<div class="box" (click)="anime()" >
  <img src="/c.png">
</div>

<div class="box" (click)="anime()" >
  <img src="/a.png">
</div>

<div class="box" (click)="anime()" >
  <img src="/b.png">
</div>

</div> -->


<div class="bigbox">

  <div class="box"   >

  @for(v of vehicles; track $index){


 <!-- <img [src]="v.src"  [class.active]="v.active"     (click)="anime(v.id)"> -->




 <button (click)="anime(v.id)"> </button>
}

</div>
</div>
