




<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
  <span>My App</span>
  </button>





  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>


  <!-- <button class="example-spacer">aa </button>   <button class="example-spacer">aa </button>
  <button class="example-spacer">aa </button>   <button class="example-spacer">aa </button> -->
</mat-toolbar>

<br>
<br><br>
<br><br><br><br><br><br><br><br><br><br>

<!-- @if (1) {
  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="push" [(opened)]="opened" (opened)="events.push('open!')"
                (closed)="events.push('close!')">
      Sidenav content
    </mat-sidenav>

    <mat-sidenav-content>
      <p><mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox></p>
      <p><button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></p>
      <p>Events:</p>
      <div class="example-events">
        @for (e of events; track e) {
          <div>{{e}}</div>
        }
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
} @else {
  <div>Please open on Stackblitz to see result</div>
} -->
